---
import Section from "@/components/Section.astro";
import { work } from "@cv";
import { volunteer } from "@cv";
---

<Section title="Experiencia">
    <ul>
        {
            work.map(({ name, startDate, endDate, position, summary }) => {
                const startYear = new Date(startDate).getFullYear();
                /* const endYear =
                    endDate !== null
                        ? new Date(endDate).getFullYear()
                        : "Actual";*/
                const years = `${startYear} - ${endDate}`;

                return (
                    <li>
                        <article>
                            <header>
                                <div>
                                <h3>{name}</h3>
                                <h4>{position}</h4>
                                </div>
                                
                                <time>{years}</time>
                            </header>

                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>
                );
            })
        }
    </ul>
    <ul>
        {
            volunteer.map(({organization, position,startDate, endDate,summary}) =>{
                const years = `${startDate} - ${endDate}`;
                return(
                <li>
                        <article>
                            <header>
                                <div>
                                <h3>{organization}</h3>
                                <h4>{position}</h4>
                                </div>
                                
                                <time>{years}</time>
                            </header>

                            <footer>
                                <p>{summary}</p>
                            </footer>
                        </article>
                    </li>

                );
            })
        }
    </ul>
</Section>

<style>
    ul{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    article h3{
        font-weight:500;
        color: #111;
       
    }
    article h4{
        color: #222;
        font-weight: 400;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
        margin-top: 30px;
    }
    time{
        color: #666;
        font-size: 0.85rem;
    }
    p{
       /* margin-bottom: 30px*/;
    }

   
</style>
